<?xml version="1.0"?>
<configuration>
  <!--<configSections>
    <section name="ega" type="EGA.WS.EgaWsSection" requirePermission="false" allowLocation="true" />
  </configSections>
  <ega debug="false"></ega>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
